{:paths     ["src"]
 :deps      {}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :aliases   {:cambada      {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.2"}}}
             :native-image {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.2"}}
                            :jvm-opts   ["-Xmx2g"]
                            :main-opts  ["-m" "cambada.native-image"
                                         "-m" "who"
                                         "--graalvm-home" "/Library/Java/JavaVirtualMachines/graalvm-ce-java11-20.0.0/Contents/Home"]}
          }}
